# QuickPDF.app
QuickPDF.app/Contents/Frameworks/
QuickPDF.app/Contents/MacOS/
QuickPDF.app/Contents/Helpers/
QuickPDF.app/Contents/_CodeSignature/
.DS_Store
Private/
Tests/fixtures/
Tests/tmp/
QuickPDF.app/Contents/Library/Packages
